<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jahed News Portal</title>
  <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
  <nav>
    <a href="/">NewsPortal</a>
    <div>
      <% if (!user) { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      <% } else { %>
        <a href="/news/write">Write News</a>
        <a href="/logout">Logout</a>
      <% } %>
    </div>
  </nav>
  <main>
