<!DOCTYPE html>
<html>
<head>
  <title>News Website</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1><a href="/">📰 My News Website</a></h1>
    <nav><a href="/new">Write News</a></nav>
  </header>
  <main>
    <%- body %>
  </main>
</body>
</html>
